name: First_workFlow
run-name: "${{ github.actor }}'s label workflow Run"

on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs: 
  echo_: 
    runs-on: ubuntu-latest  
    steps:
      - name: Echo message
        run: echo "hello world"
